
body {
    font-family: sans-serif;
}

.header {
    background-color: #810000;
    color: #eeebdd;
    padding: 20px;
}

.headertext {
    font-family: "Aladin", sans-serif;
    font-size: 25px;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
}


a {
    text-decoration: none;
    color: #eeebdd;
}

/* This currently applies to all anchor tags. I need to apply to a single set of anchor tags */

a:hover {
    color: #1b1717;
}

/* This currently applies to all anchor tags. I need to apply to a single set of anchor tags */


ul {
    list-style: none;
}