
body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Header Section */

.header {
    background-color: #810000;
    color: #eeebdd;
    padding: 20px;
}


.headertext {
    font-family: "Aladin", sans-serif;
    font-size: 25px;
    display: flex;
}

.headerbarwrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

a {
    text-decoration: none;
    color: #eeebdd;
}

/* This currently applies to all anchor tags. I need to apply to a single set of anchor tags */

a:hover {
    color: #1b1717;
}

/* This currently applies to all anchor tags. I need to apply to a single set of anchor tags */


ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px
}

h1 {
    padding-top: 50px;
    padding-left: 150px;
    font-size: 40px;
    width:350px;
}

.photowrapper {
    display: flex;
}

.tancar { 
    padding-top: 50px;
    padding-left: 200px;
}

.blurbwrapper { 
    width: 350px;
    padding-left: 150px;
}

button { 
    padding: 7px 21px;
    color: #1b1717;
    background-color: #eeebdd;
}

/* Quad Section */ 

.quad {
    background-color: #eeebdd;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    font-size: 30px;
}

.comprehensiveimageselector p {
    width: 150px;
}

.comprehensiveimageselector img {
    border: #810000;
    border-radius: 5px;
    border-style: outset;
    border-width: 5px;
}

.modelwrap, .hoodwrap, .equipmentwrap, .detailingwrap{
    display: flex;
    flex-direction: column;
}

/* Quote Section */ 

.quote {
    background-image: linear-gradient(#eeebdd, #810000);
    font-size: 30px;
    padding: 50px;
}

/* Call to Action */ 

.action {
    background-color: #810000;
    color: #eeebdd;
}

/* Footer */

.footer {
    background-color: black;
    color: white;
    padding: 30px;
}
