
body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* Header Section */

.header {
    background-color: #810000;
    color: #eeebdd;
    padding: 20px;
}


.headertext {
    font-family: "Aladin", sans-serif;
    font-size: 25px;
    display: flex;
}

/* perhaps include different header background color. Same as footer */
.headerbarwrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 150px;
}

a {
    text-decoration: none;
    color: #eeebdd;
}

/* This currently applies to all anchor tags. I need to apply to a single set of anchor tags */

a:hover {
    color: #1b1717;
}

/* This currently applies to all anchor tags. I need to apply to a single set of anchor tags */


ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px
}

h1 {
    font-size: 40px;
    width:350px;
}

.tancar { 
    float: right;
    padding-left: 200px;
    padding-top: 20px;
}

.blurbwrapper { 
    width: 350px;
    padding-left: 200px;
}

button { 
    padding: 10px 24px;
    color: #1b1717;
    background-color: #eeebdd;
    border-radius: 8px;
}

.blurbcarwrapper {
    display: flex;
    flex-direction: row;
    padding: 80px 0px;
}

/* Quad Section */ 

.quad {
    background-color: #eeebdd;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    padding-bottom: 8px;
    font-size: 30px;
}

.comprehensiveimageselector p {
    width: 150px;
}

.comprehensiveimageselector img {
    border: #810000;
    border-radius: 5px;
    border-style: outset;
    border-width: 5px;
    display: flex;
}

.comprehensiveimageselector {
    display: flex;
    justify-content: center;
}



.modelwrap, .hoodwrap, .equipmentwrap, .detailingwrap{
    display: inline-block ;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
/* Quote Section */ 

.quote {
    background-image: linear-gradient(#eeebdd, #810000);
    font-size: 30px;
    font-weight: 700;
    padding: 70px;
    padding-left: 400px;
    color: #eeebdd;
    -webkit-text-stroke-color:#810000;
    -webkit-text-stroke-width: 1.5px;
    text-align: center;
}


.quote p {
    width: 600px;
}

.quote em {
    text-align: center;
    padding-left: 50px;
}

    /* Learn how to outline text /*

/* Call to Action */ 

.action {
    background-color: #810000;
    color: #eeebdd;
}

/* Footer */

.footer {
    background-color: #1b1717;
    color: white;
    padding: 30px;
}
